{% extends 'layout.html' %}


{% block title %}
    Home: All bucket item
{% endblock %}


{% block content %}
    <div class="container-fluid bg-primary p-3">
        <h1 class="display-5 text-center fw-bold text-white">Bucket List</h1>
    </div>
    
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-3 col-md-5">

            <div class="container-fuild shadow-sm">
                <div class="mt-5 p-3 bg-light">
                    <form action="addItem/" method="post">
                        {% csrf_token %}
                        <div class="input-group my-2">
                            <input class="form-control" type="text" name="item" id="item" placeholder="Add item to bucket">
                            <button type="submit" class="btn btn-primary px-5">Add</button>
                        </div>
                    </form>
                </div>

                <!-- main bucket item -->
                <ul class="list-group p-3">

                    {% for itemObj in allItem %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="">{{ itemObj.item }}</span>
                            <a href="delItem/{{itemObj.id}}/" class="text-danger ">delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}